.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 18px;
  z-index: 10;
}

.bottom-nav button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.bottom-nav button.active {
  color: #ff2d55;
}
